* {
    margin: 0;
    padding: 0;
}

#wrapper {
    width:900px;
    margin: 0px auto;
}

html {
    background: url(goals.jpg) no-repeat center fixed; 
    background-size: 100%;
  }

#header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin: 50px 0px 15px 0px;
}

#header p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 15px 0px 15px 0px;
    font-weight: bold;
    background-color:#f1f0f088;
    border-radius:25px;
    padding: 5px;
}

#error_messages {
    min-height: 0px;
    padding: 10px;
    width: 350px;
    margin: 0px 0px 0px 250px;
    display:inline-block;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;

}

#main_message {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    margin: 15px 0px 15px 0px;
    font-weight: bold;
    border: solid;
    border-width: 3px;
}

#registration, #login {
    border-style: solid;
    min-height: 15px;
    padding: 10px;
    width: 350px;
    margin: 10px 0px 0px 250px;
    display:inline-block;
    text-align: top;
    border-radius: 25px;
    background-color:#f1f0f088;
}

#registration h3 {
    width: 300px;
    margin-left:90px;
}

#registration p {
    padding-top: 10px;
    width: 300px;
    font-weight: bold;
}

#login h3 {
    width: 300px;
    margin-left:100px;
}

#login p {
    padding-top: 10px;
    width: 300px;
    font-weight: bold;
}

input[type='text'] {
    width: 325px;
    text-align: left;
    border-style: solid;
    vertical-align: top;
    display:inline-block;
    height: 16px;
}

input[type='password'] {
    width: 325px;
    text-align: left;
    border-style: solid;
    vertical-align: top;
    display:inline-block;
    height: 16px;
}

.reg_button, .log_button {
    margin-top: 10px;
    margin-left: 279px;
    background: black;
    color: white;
    height: 25px;
    width: 60px;
    border-style: solid;
    border-color: black;
}

#navigation {
    display: inline-block;
    width: 100px;
    margin: 15px 0px 0px 15px;
    display: inline-block;
}

#navigation button {
    width: 100px;
    min-height: 20px;
    margin-bottom:15px;
    border-style: solid;
    background: black;
    color: white;
    margin: 5px;
    padding:5px;
    display: inline-block;
    border-radius:25px;
    vertical-align: top;
}

#profile {
    display: inline-block;
    vertical-align: top;
    margin: 15px 0px 0px 100px;
    text-align: center;
    background-color:#f1f0f0cc;
    border-radius:25px;
    padding:10px;
}

.goal_section {
    margin-top:20px;
    width: 650px;
    min-height:100px;
    overflow: scroll;
}

.goal_section button {
    margin-bottom:10px;
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0.452);
    border-color: black;
    border-radius: 5px;
    padding:1px;
    font-weight: bold;
}

.goal_button {
    margin-left: 5px;
    background-color: rgba(0, 128, 0, 0.281);
    border-color: black;
    border-radius: 5px;
    padding:1px;
    font-weight: bold;
}

#habits {
    display: inline-block;
    vertical-align: top;
    margin: 15px 0px 0px 100px;
    text-align: center;
    background-color:#f1f0f0cc;
    border-radius:25px;
    padding:10px;
}

.habits_section {
    margin-top:20px;
    width: 650px;
    min-height:100px;
    overflow: scroll;
}

.habits_section button {
    margin-bottom:10px;
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0.452);
    border-color: black;
    border-radius: 5px;
    padding:1px;
    font-weight: bold;
}

.habits_button {
    margin-left: 5px;
    background-color: rgba(0, 128, 0, 0.281);
    border-color: black;
    border-radius: 5px;
    padding:1px;
    font-weight: bold;
}

#motivation {
    display: inline-block;
    vertical-align: top;
    margin: 15px 0px 0px 100px;
    text-align: center;
    background-color:#f1f0f0cc;
    border-radius:25px;
    padding:10px;
}

.motivation_section {
    margin-top:20px;
    width: 650px;
    min-height:100px;
    overflow: scroll;
}

.motivation_section button {
    margin-bottom:10px;
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0.452);
    border-color: black;
    border-radius: 5px;
    padding:1px;
    font-weight: bold;
}

.motivation_button {
    margin-left: 5px;
    background-color: rgba(0, 128, 0, 0.281);
    border-color: black;
    border-radius: 5px;
    padding:1px;
    font-weight: bold;
}